<%= form_for @invoice do |f| %>

  <div class="field">
    <%= f.label :invoice %><br>
    <%= f.text_field :invoice %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <%= f.submit "Save" %>
<% end %>
