<h1>Invoice: <%= @invoice.name %>  |  <%= @invoice.invoice %></h1>

<p><%= link_to "Edit", edit_invoice_path(@invoice) %> | <%= link_to "Back to Invoices", invoices_path %></p>
<p><%= link_to "New Item", new_invoice_item_path(@invoice) %></p>
<br>
Advanced Search:
<div class="new-search">
  <%#= render 'searches/form_group', search: Search.new %>
</div>
<br>
New Item:
<div class="new-item">
  <%#= render 'items/form_group', item: Item.new, invoice: @invoice %>
</div>
<p><% @invoice.items %></p>
<table class="table table-striped table-hover">
  <thead>
    <th>Item</th>
  </thead>
  <!-- <tbody class="js-items">
    <%#= render @invoice.items.all.order(:sku) %>
    <%#= render @invoice.items %>
  </tbody> -->
  <tbody>
    <% @invoice.items.each do |item| %>
      <tr>
        <td><%= link_to item.sku, edit_item_path(item) %></td>
        <td><%= item.build_d("tag") %></td>
        <td><%= link_to 'show', item_path(item) %> | <%= link_to 'Delete', item, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
