<%= form_for parent do |f| %>
  <%= f.hidden_field :category_id %>
  <%= "item on Parade".titlecase %>
  <!-- <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div> -->

  <div class="field">
    <%= f.label :kind %><br>
    <%= f.collection_select(:category_id, Category.where(kind: class_to_string(parent)), :id, :name, { :include_blank => true }) %>
  </div>

  <!-- <div class="row">
    <div class="col-md-12">
      <h4>Fields:</h4>
      <%#= f.fields_for :field_groups do |builder| %>
        <%#= render 'item_fields/field_group_fields', f: builder %>
      <%# end %>
      <%#= link_to_add_fields "Add Field", f, :field_groups, "categories" %>
    </div>
  </div> -->

  <div class="col-md-12">
    <h4>Properties:</h4>
    <% if parent.category_id? %>
      <%# parent.categories.each do |category| %>
        <% parent.category.item_fields.each do |field| %>
          <%= render 'item_types/properties', f: f, parent: parent, field: field %>
        <% end %>
      <%# end %>
    <% end %>
  </div>
  <%= f.submit "Save" %>
<% end %>
