<%= form_for parent do |f| %>
<p>Thing</p>
  <%#=  %>
  <%= f.hidden_field :category_id %>
  <div class="field">
    <%= f.label :kind %><br>
    <%= f.collection_select(:category_id, Category.where(kind: class_to_string(parent)), :id, :name, { :include_blank => true }) %>
  </div>
  <div class="col-md-12">
    <h4>Properties:</h4>
    <% if parent.category_id? %>
      <% parent.category.item_fields.each do |field| %>
        <%= render 'item_types/properties', f: f, parent: parent, field: field %>
      <% end %>
    <% end %>
  </div>
  <%= f.submit "Save" %>
<% end %>
