<%= form_for parent do |f| %>
  <%= f.hidden_field :category_id %>
  <div class="field">
    <%= f.label :kind %><br>
    <%= f.collection_select(:category_id, Category.where(kind: "dim_type"), :id, :name, { :include_blank => true }) %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <%= f.submit "Save" %>
<% end %>
