<h1>CertificateType#Edit</h1>
<p><%= @cert_type.typ_ver_args("inv") %></p>
<p><%= @cert_type.category_names %></p>

<%= render 'item_types/form', parent: @cert_type %>

<%= link_to 'Show', cert_type_path(@cert_type) %> |
<%= link_to 'Back', cert_types_path %>
