<%= form_for @item, :html => {:id => 'item_form'} do |f| %>
<p>D: <%= @item.build_descrp("tag") %></p>
<p>next_chars_idx: <%= @item.test_str[45..56] %></p>
<p>idxs: <%= @item.build_descrp("tag")[45..56] %></p>
<p><strong>xl_dim_idxs:</strong> <%= @item.xl_dim_idxs(@item.build_descrp("tag")) %></p>
<p>test upcase: <%= @item.title_upcase(@item.build_descrp("tag")) %></p>
  <%= render "items/hidden", f: f %>
  <script type="text/javascript">
    function submitform(){
      $('#redirect_location').val(':edit');
      $('#item_form').submit();
    }
  </script>
  <script type="text/javascript">
    function reload(){
      var item_type_id = $('#selectItemtype').val();
      $('#item_item_type_id').val('item_type_id');
    }
  </script>

  <div class="row">
    <div class="col-md-2">
      <%= f.label :sku %><br>
      <%= f.text_field :sku %>
    </div>
  </div>

  <% type_list.each do |type| %>
    <%= render "items/type", type: type, f: f %>
  <% end %>

  <%= render "items/properties", parent: @item, f: f %>
  <%= f.submit "Save" %>
  </div>
<% end %>
