<%= form_for @item, :html => {:id => 'item_form'} do |f| %>
<p>descrp: <%= @item.build_descrp("tag") %></p>
<p>closure_idx: <%= @item.closure_idx(@item.test_str) %></p>
<p>idx: <%= @item.test_str[37] == "(" %></p>
<p>cap: <%= @item.capitalize(@item.build_descrp("tag")) %></p>
<p>up/down: <%#= @item.char_idx(@item.build_descrp("tag"), /[[:space:]]/, 190) %></p>
<p>test: <%#= @item.test_hash %></p>
<p>closure: <%#= @item.test_str.index(/\)/, @item.closure_idx(@item.test_str) + 1) %></p>
  <%= render "items/hidden", f: f %>
  <script type="text/javascript">
    function submitform(){
      $('#redirect_location').val(':edit');
      $('#item_form').submit();
    }
  </script>
  <script type="text/javascript">
    function reload(){
      var item_type_id = $('#selectItemtype').val();
      $('#item_item_type_id').val('item_type_id');
    }
  </script>

  <div class="row">
    <div class="col-md-2">
      <%= f.label :sku %><br>
      <%= f.text_field :sku %>
    </div>
  </div>

  <% type_list.each do |type| %>
    <%= render "items/type", type: type, f: f %>
  <% end %>

  <%= render "items/properties", parent: @item, f: f %>
  <%= f.submit "Save" %>
  </div>
<% end %>
