<%= form_for @item, :html => {:id => 'item_form'} do |f| %>
<p><strong>test_str:</strong> <%#= @item.test_str[0].upcase %></p>
<p><strong>hsh:</strong> <%= @item.hsh[:build] %></p>
<p><strong>cap:</strong> <%= @item.cap(@item.hsh[:build]) %></p>
<p><strong>replace:</strong> <%= @item.replace(@item.hsh[:build], 0, @item.hsh[:build][0].upcase) %></p>
<p><strong>build_d:</strong> <%= @item.build_d("tag") %></p>
  <%= render "items/hidden", f: f %>
  <script type="text/javascript">
    function submitform(){
      $('#redirect_location').val(':edit');
      $('#item_form').submit();
    }
  </script>
  <script type="text/javascript">
    function reload(){
      var item_type_id = $('#selectItemtype').val();
      $('#item_item_type_id').val('item_type_id');
    }
  </script>

  <div class="row">
    <div class="col-md-2">
      <%= f.label :sku %><br>
      <%= f.text_field :sku %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
  </div>

  <% type_list.each do |type| %>
    <%= render "items/type", type: type, f: f %>
  <% end %>

  <%= render "items/properties", parent: @item, f: f %>
  <%= f.submit "Save" %>
  </div>
<% end %>
