<%= form_for @item, :html => {:id => 'item_form'} do |f| %>
<p>D: <%= @item.build_descrp("tag") %></p>
<p>closure_char: <%= @item.end_idx(@item.test_str) %></p>
<p>TEST STRING: <%= (6..6).count %></p>
<p>TEST HERE!: <%= @item.sub_pat_at_idxs(@item.test_str, 79..90, "Dog") %></p>
<p>First: <%= @item.first_word(@item.test_str) %></p>
<p>delim: <%= @item.word_delim %></p>
<p>kapitalize: <%#= @item.kapitalize(@item.test_str) %></p>
<p>kapitalize: <%#= @item.cap_content(@item.test_str, 0, ) %></p>
  <%= render "items/hidden", f: f %>
  <script type="text/javascript">
    function submitform(){
      $('#redirect_location').val(':edit');
      $('#item_form').submit();
    }
  </script>
  <script type="text/javascript">
    function reload(){
      var item_type_id = $('#selectItemtype').val();
      $('#item_item_type_id').val('item_type_id');
    }
  </script>

  <div class="row">
    <div class="col-md-2">
      <%= f.label :sku %><br>
      <%= f.text_field :sku %>
    </div>
  </div>

  <% type_list.each do |type| %>
    <%= render "items/type", type: type, f: f %>
  <% end %>

  <%= render "items/properties", parent: @item, f: f %>
  <%= f.submit "Save" %>
  </div>
<% end %>
