<%= form_for @item, :html => {:id => 'item_form'} do |f| %>
<p>D: <%= @item.build_descrp("tag") %></p>
<p>closure_char: <%= @item.closure_char(@item.test_str, 34) %></p>
<p>TEST STRING: <%= @item.test_str %></p>
<p>TEST regexp: <%= @item.test_str[34] =~ /[\"",(]/ %></p>
<p>IDX: <%= @item.test_str[34] %></p>
<p>matching_closure?: <%= @item.valid_closure_content?(@item.test_str, 34) %></p>
  <%= render "items/hidden", f: f %>
  <script type="text/javascript">
    function submitform(){
      $('#redirect_location').val(':edit');
      $('#item_form').submit();
    }
  </script>
  <script type="text/javascript">
    function reload(){
      var item_type_id = $('#selectItemtype').val();
      $('#item_item_type_id').val('item_type_id');
    }
  </script>

  <div class="row">
    <div class="col-md-2">
      <%= f.label :sku %><br>
      <%= f.text_field :sku %>
    </div>
  </div>

  <% type_list.each do |type| %>
    <%= render "items/type", type: type, f: f %>
  <% end %>

  <%= render "items/properties", parent: @item, f: f %>
  <%= f.submit "Save" %>
  </div>
<% end %>
