<%= form_for @item, :html => {:id => 'item_form'} do |f| %>
<p><strong>ordered_keys:</strong> <%= @item.ordered_keys("tag") %></p>
<p><strong>ver_types:</strong> <%= @item.ver_types("tag") %></p>
<p><strong>tag_list:</strong> <%#= @item.insert_item(@item.ordered_keys("inv"), "dog", ) %></p>
<p><strong>valid_type:</strong> <%= @item.valid_type?("tag", "title") %></p>
<p><strong>build_d:</strong> <%= @item.build_d("tag") %></p>
  <%= render "items/hidden", f: f %>
  <script type="text/javascript">
    function submitform(){
      $('#redirect_location').val(':edit');
      $('#item_form').submit();
    }
  </script>
  <script type="text/javascript">
    function reload(){
      var item_type_id = $('#selectItemtype').val();
      $('#item_item_type_id').val('item_type_id');
    }
  </script>

  <div class="row">
    <div class="col-md-2">
      <%= f.label :sku %><br>
      <%= f.text_field :sku %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
  </div>

  <% type_list.each do |type| %>
    <%= render "items/type", type: type, f: f %>
  <% end %>

  <%= render "items/properties", parent: @item, f: f %>
  <%= f.submit "Save" %>
  </div>
<% end %>
