<%= form_for @item, :html => {:id => 'item_form'} do |f| %>
<p>format_edition: <%#= @item.format_edition("tag") %></p>
<p>format_item: <%= @item.format_item("tag") %></p>
<!-- <p>test: <%#= @item.arr_match?(@item.test_arr1, @item.test_arr2) %></p> -->
<!-- <p>category names: <%#= @item.edition_type.category_names %></p>
<p>remove_idx_range: <%#= @item.remove_idx_range(@item.test_str, @item.idx_range_of_pat(@item.test_str, -1, "number")) %></p>
<p>idx_range_of_pat: <%#= @item.idx_range_of_pat(@item.test_str, -1, "number") %></p>
<p>insert_rel_to_pat: <%#= @item.insert_rel_to_pat(pos: "replace", str: @item.test_str, occ: -1, pat: "number", v: @item.properties["number"], ws: 0) %></p>
<p>str: "AP numbered number/size"/ pat: "number"</p> -->


  <%= render "items/hidden", f: f %>
  <script type="text/javascript">
    function submitform(){
      $('#redirect_location').val(':edit');
      $('#item_form').submit();
    }
  </script>
  <script type="text/javascript">
    function reload(){
      var item_type_id = $('#selectItemtype').val();
      $('#item_item_type_id').val('item_type_id');
    }
  </script>

  <div class="row">
    <div class="col-md-2">
      <%= f.label :sku %><br>
      <%= f.text_field :sku %>
    </div>
  </div>

  <% type_list.each do |type| %>
    <%= render "items/type", type: type, f: f %>
  <% end %>

  <%= render "items/properties", parent: @item, f: f %>
  <%# if @item.item_type_id? %>
    <%#= render "items/properties", parent: @item, f: f %>
  <%# end %>
  <%= f.submit "Save" %>
  </div>
<% end %>
