<%= form_for @item, :html => {:id => 'item_form'} do |f| %>
<%= @item.format_item("inv") %><br>
<%= @item.mount_type.typ_ver_args("inv") %><br>
<%#= @item.insert_rel_to_pat(@item.test_method) %><br>
<%#= @item.build_tagline %>
  <%= render "items/hidden", f: f %>
  <script type="text/javascript">
    function submitform(){
      $('#redirect_location').val(':edit');
      $('#item_form').submit();
    }
  </script>
  <script type="text/javascript">
    function reload(){
      var item_type_id = $('#selectItemtype').val();
      $('#item_item_type_id').val('item_type_id');
    }
  </script>

  <div class="row">
    <div class="col-md-2">
      <%= f.label :sku %><br>
      <%= f.text_field :sku %>
    </div>
  </div>

  <% type_list.each do |type| %>
    <%= render "items/type", type: type, f: f %>
  <% end %>

  <%= render "items/properties", parent: @item, f: f %>
  <%# if @item.item_type_id? %>
    <%#= render "items/properties", parent: @item, f: f %>
  <%# end %>
  <%= f.submit "Save" %>
  </div>
<% end %>
