<%= form_for @item, :html => {:id => 'item_form'} do |f| %>
  <%= render "items/hidden", f: f %>
  <script type="text/javascript">
    function submitform(){
      $('#redirect_location').val(':edit');
      $('#item_form').submit();
    }
  </script>
  <script type="text/javascript">
    function reload(){
      var item_type_id = $('#selectItemtype').val();
      $('#item_item_type_id').val('item_type_id');
    }
  </script>

  <div class="row">
    <div class="col-md-2">
      <%= f.label :sku %><br>
      <%= f.text_field :sku %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= f.label :mounting %><br>
      <%= f.collection_select :mount_type_id, MountType.all, :id, :description, {:include_blank => true}, onchange: 'submitform()' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= f.label :medium %><br>
      <%= f.collection_select :item_type_id, ItemType.all, :id, :item_description, {:include_blank => true}, onchange: 'submitform()' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= f.label :signature %><br>
      <%= f.collection_select :sign_type_id, SignType.all, :id, :sign_description, {:include_blank => true}, onchange: 'submitform()' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= f.label :certificate %><br>
      <%= f.collection_select :cert_type_id, CertType.all, :id, :cert_description, {:include_blank => true}, onchange: 'submitform()' %>
    </div>
  </div>

  <% if @item.item_type_id? %>
    <%= render "items/properties", parent: @item, f: f %>
  <% end %>
  <%= f.submit "Save" %>
  </div>
<% end %>
