<h1><%= @item.sku %> <%= link_to 'Delete', @item, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this sku?' } %></h1>
<h2><%= @item.artist %> | <%= @item.title %> </h2><br>
<h2>Inv: <%= link_to "#{@item.invoice.invoice} - #{@item.invoice.name}", invoice_path(@item.invoice) %></h2><br>
<p><%#= ItemType.original_items.canvas_items.pluck("properties -> 'original'") %></p>
<p><%#= ItemType.original_items.paper_items.map {|item| item.dropdown} + ItemType.original_items.canvas_items.map {|item| item.dropdown}%></p>
<p><%#= ItemType.original_items.paper_items.original_items.canvas_items.map {|item| item.dropdown} %></p>

<p><%#= @item.item_type.properties %></p>
<p>Print: <%#= ItemType.print_items.map {|item| item.dropdown} %></p>
<p>d<%#= ItemType.originals.map {|item| item.dropdown} %></p>
<div> <%= render 'items/sku_nav' %></div>

<h4>Duplicate Sku</h4>
<p><%= render 'items/sku_form', invoice: @invoice, item: @item %></p><br>

<blockquote>
  <h4>Tagline:</h4>
  <%= @item.tagline %>
</blockquote>

<blockquote>
  <h4>Property Room:</h4>
  <%= @item.property_room %>
</blockquote>

<blockquote>
  <h4>Description:</h4>
  <%= @item.description %>
</blockquote>
<br>
<%= render 'items/form' %>
