<h1><%= @item.item_header %>   <%= link_to 'Delete', @item, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this sku?' } %></h1>
<h2>Inv: <%= link_to "#{@item.invoice.invoice} - #{@item.invoice.name}", invoice_path(@item.invoice) %></h2><br>

<div> <%= render 'items/sku_nav' %></div>

<h4>Duplicate Sku</h4>
<p><%= render 'items/sku_form', invoice: @invoice, item: @item %></p><br>

<blockquote>
  <h4>Tagline:</h4>
  <%= @item.tagline %>
</blockquote>

<blockquote>
  <h4>Property Room:</h4>
  <%= @item.property_room %>
</blockquote>

<blockquote>
  <h4>Description:</h4>
  <%= @item.description %>
</blockquote>
<br>
<%= render 'items/form' %>
