<%= form_for parent do |f| %>
<div class="field">
  <%= f.label :kind %><br>
  <%= f.text_field :kind %>
</div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>Associated Fields:</h4>
      <div>
        <%= hidden_field_tag "category[item_field_ids][]", nil %>
        <%#= ItemField.where(name: parent.category_names, kind: parent.kind).pluck(:name) %>
          <% ItemField.where(name: parent.category_names, kind: parent.kind).each do |item_field| %>
            <div class="custom-control custom-checkbox custom-control-inline">
              <%= check_box_tag "category[item_field_ids][]", item_field.id, parent.item_field_ids.include?(item_field.id), id: dom_id(item_field) %>
              <%= label_tag dom_id(item_field), item_field.name, class: "custom-control-label" %>
            </div>
          <% end %>
        <%# end %>
      </div>
    </div>
  </div>
  <%= f.submit "Save" %>
<% end %>
