<%#= form_for(parent, as: :category) do |f| %>
<%= form_for parent do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <!-- <div class="row">
    <div class="col-md-12">
      <h4>Categories:</h4>
      <%#= f.fields_for :field_groups do |builder| %>
        <%#= render 'categories/field_group_fields', f: builder %>
      <%# end %>
      <%#= link_to_add_fields "Add Field", f, :field_groups, "categories" %>
    </div>
  </div> -->

  <div class="row">
    <div class="col-md-12">
      <h4>Associated Fields:</h4>
      <div class="field">
        <%= hidden_field_tag "category[item_field_ids][]", nil %>
        <%# if parent.categories.present? %>
          <% ItemField.where(name: parent.category_names).each do |item_field| %>
            <br>
            <%= check_box_tag "category[item_field_ids][]", item_field.id, parent.item_field_ids.include?(item_field.id), id: dom_id(item_field) %>
            <%= label_tag dom_id(item_field), item_field.name %>
          <% end %>
        <%# end %>
      </div>
    </div>
  </div>
  <%= f.submit "Save" %>
<% end %>
