<p id="notice"><%= notice %></p>

<h1><%#= @elements.klass.to_s.pluralize.humanize %></h1>
<h1><%= class_to_string(@elements) %></h1>
<% if @elements.empty? %>
  <p><strong>No Elements</strong></p>
<% end %>

<h4>Export Elements</h4>
<p>
  Download:
  <%= link_to "CSV", elements_path(format: "csv") %> |
  <%= link_to "Excel", elements_path(format: "xls") %>
</p>

<h4>Import Item Types</h4>
<%= form_tag import_elements_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @elements.each do |element| %>
    <%= render 'elements/element', element: element %>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "New #{class_to_string(@elements)}", [:new, relation_to_class(@elements)] %>
