<p id="notice"><%= notice %></p>

<h1><%= @categories.klass.to_s.pluralize.humanize %></h1>
<h1><%= class_to_string(@categories) %></h1>
<% if @categories.empty? %>
  <p><strong>No Categories</strong></p>
<% end %>

<h4>Export Categories</h4>
<p>
  Download:
  <%= link_to "CSV", categories_path(format: "csv") %> |
  <%= link_to "Excel", categories_path(format: "xls") %>
</p>

<h4>Import Categories</h4>
<%= form_tag import_categories_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
<%#= link_to "New #{class_to_string(@categories)}", [:new, relation_to_class(@categories)] %>
<%= link_to "New Category", new_category_path %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>Kind</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
    <%= render 'categories/category', category: category %>
    <% end %>
  </tbody>
</table>

<br>
