<p id="notice"><%= notice %></p>

<h2><%= @category.class.to_s.pluralize.underscore.to_sym %>: <%= @category.name %></h2>

<%= link_to 'Edit', [:edit, @category] %> |
<%= link_to 'Back', @category.class.to_s.pluralize.underscore.to_sym %>
