<p id="notice"><%= notice %></p>

<h2><%= @element.class.to_s.pluralize.underscore.to_sym %>: <%= @element.name %></h2>

<%= link_to 'Edit', [:edit, @element] %> |
<%= link_to 'Back', @element.class.to_s.pluralize.underscore.to_sym %>
