<!DOCTYPE html>
<html>
  <head>
    <title>Qtest</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <li><%= link_to "Suppliers", suppliers_path %></li>
        <li><%= link_to "Invoices", invoices_path %></li>
        <li><%= link_to "Categories", categories_path %></li>
        <li><%= link_to "Artists", artist_types_path %></li>
        <li><%= link_to "Mountings", mount_types_path %></li>
        <li><%= link_to "ItemTypes", item_types_path %></li>
        <li><%= link_to "Edition", edition_types_path %></li>
        <li><%= link_to "Signatures", sign_types_path %></li>
        <li><%= link_to "Certificates", cert_types_path %></li>
        <li><%= link_to "Dimensions", dim_types_path %></li>
        <li><%= link_to "Disclaimers", disclaimer_types_path %></li>
        <li><%= link_to "Fields", item_fields_path %></li>
        <li><%= link_to "Values", field_values_path %></li>
      </ul>
      <div class="flash">
        <% if flash[:notice] %>
           <div class="alert alert-success">
             <button type="button" class="close" data-dismiss="alert">&times;</button>
             <%= flash[:notice] %>
           </div>
         <% elsif flash.now[:alert] %>
           <div class="alert alert-danger">
             <button type="button" class="close" data-dismiss="alert">&times;</button>
             <%= flash.now[:alert] %>
           </div>
         <% elsif flash[:alert] %>
           <div class="alert alert-warning">
             <button type="button" class="close" data-dismiss="alert">&times;</button>
             <%= flash[:alert] %>
           </div>
         <% end %>
       </div>
      <%= yield %>
    </div>
  </body>
</html>
